<% if @link && (notice || alert) %>
	<%= content_tag :a, 'back to post', href: "##{@link}", class: 'link', data: { turbolinks: false } %>
<% end %>

<%= render('shared/text_post_form') %>

<h2 class="bold top-margin-2">Posts</h2>
<% @posts.find_each(order: :desc) do |post| %>
	<%= render 'shared/post', post: post %>
<% end %>
